{% extends "::base.html.twig" %}

{% block body %}
    <div class="page-header">
        <h1>Cron jobs</h1>
    </div>
    <div class="text-right">
        {{ form_start(update) }}
        {{ form_row(update.submit, { 'attr': {'class': 'btn btn-default'}, 'label': 'Update project'}) }}
        {{ form_end(update) }}
    </div>

    {% if jobs == null %}
        <div class="alert alert-warning text-center">There are no jobs</div>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Status</th>
                <th>Registered</th>
                <th>Executed</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>{{ job.id }}</td>
                        <td>{{ job.action }}</td>
                        <td>{{ job.status }}</td>
                        <td>{{ job.registered is empty ? 'null' : job.registered|date('Y-m-d H:i:s') }}</td>
                        <td>{{ job.executed is empty ? 'null' : job.executed|date('Y-m-d H:i:s') }}</td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
